.about {
  padding: 60px 10rem;
  /* max-width: 1000px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  /* position: relative; */
  margin-top: 30px;
  /* background-color: #161616; */
}

.about__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  position: relative;
  z-index: 1;
}

.about__img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about__img img {
  width: 500px;
  padding: 1rem 2rem 0 2rem;
  background-color: var(--red);
}

.about__info {
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 60px 3rem;
  }
}