.about {
  padding: 60px 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  background-color: #131313;
  position: relative;
}

.about__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.about__img {
  height: 27rem;
  width: 27rem;
  border-radius: 50%;
  overflow: hidden;
}

.about__img img {
  height: 100%;
}

.about__info {
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 60px 3rem;
  }
}

@media screen and (max-width: 992px) {
  .about__container {
    flex-direction: column;
  }

  .about__info {
    width: 100%;
  }

  /* .titleSection {
    font-size: 3.5rem !important;
    line-height: 3.2rem;
  } */

  .subTitle {
    margin-bottom: .8rem !important;
    font-size: 1.1rem !important;
  }
}

@media screen and (max-width: 576px) {
  .about {
    padding: 60px 2rem;
  }

  .about__img {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .primaryButton {
    width: 100%;
  }

  .about__info p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  .about__img {
    height: 18rem;
    width: 18rem;
  }
}

@media screen and (max-width: 340px) {
  .about__img {
    height: 14rem;
    width: 14rem;
  }
}