.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  backdrop-filter: blur(1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  z-index: 100;
  transition: all ease .3s;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
  z-index: 100;
}

.navbar--active {
  background-color: rgba(0, 0, 0, .35);
  box-shadow: 0 0 25px 0px rgba(0, 0, 0, .4);
}

.navbar--hide {
  transform: translateY(-80px);
}

.navbar__logo {
  height: 40px;
}

.navbar__menu {
  position: relative;
  list-style: none;
  display: flex;
  gap: 5rem;
  font-size: 14px;
  line-height: 180%;
  font-weight: 300;
  margin-left: 80px;
}

.navbar__item {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-family: 'SF Mono', sans-serif;
}

.navbar__item::after {
  content: '';
  position: absolute;
  left: calc(50% - 25px);
  display: block;
  width: 0;
  height: 2px;
  background: var(--red);
  transition: width .2s;
}

.navbar__item:hover::after {
  width: 50px;
}

.navbar__link {
  color: var(--white);
  text-decoration: none;
  padding: 20px 10px;
}

.navbar__navBtn {
  position: relative;
  font-family: var(--secondary-font);
  padding: 12px 20px;
  cursor: pointer;
  border: solid 1px var(--white);
  border-radius: 0px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--longTransition);
  gap: 10px;
  overflow: hidden;
  z-index: 1;
}

.navbar__navBtn.active {
  border: solid 1px var(--red);
}

.navbar__navBtn.active::before {
  width: 100%;
}

.navbar__navBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #FF1F28;
  transition: all .3s;
  z-index: -1;
  display: inline-block;
}

.navbar__navBtn:hover::before {
  width: 100%;
}

.navbar__navBtn:hover {
  border: solid 1px var(--red);
}

.navBtn__icon {
  font-size: .9rem;
}

.navbar__menuBtn {
  cursor: pointer;
  display: none;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  align-items: center;
}

.menu__logo {
  width: 14rem;
  display: none;
}

.menu__close {
  position: absolute;
  top: 20px;
  right: 25px;
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close__icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    position: fixed;
    z-index: 2;
    padding: 0 1.5rem;
  }

  .navbar__menuBtn {
    display: flex;
  }

  .navbar__menu {
    position: absolute;
    transform: translateY(-27rem);
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.95);
    height: 60vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
  }

  .menu__active {
    transform: translateY(0);
  }

  .menu__logo {   
    display: block;
  }

  .navbar__navBtn {
    display: none;
  }

  .menu__close {
    display: block;
  }
  
  
}