.projects {
  width: 100% !important;
  /* max-width: 1000px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 10rem;
  /* padding: 60px 3rem; */
  /* background-color: aqua; */
}

.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 300ms;
}

@media screen and (max-width: 1200px) {
  .projects {
    padding: 60px 3rem;
  }
}

@media screen and (max-width: 900px) {
  .titleSection {
    font-size: 3.5rem !important;
    line-height: 3.1rem;
  }

  .subTitle {
    margin-bottom: .8rem !important;
    font-size: 1rem !important;
  }
}


@media screen and (max-width: 450px) {
  .projects {
    padding: 60px 1rem;
  }
}