.project {
  /* background-color: var(--red); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  border: solid 1px var(--darkGray);
}

.projects__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1000px);
  gap: var(--gap);
  justify-content: center;
  list-style: none;
}

.project__info {
  /* background-color: rgba(14, 14, 14, .85); */
  width: 50%;
  height: 100%;
  /* background-image: linear-gradient(to top, rgba(14, 14, 14, .8) 20%, rgba(14, 14, 14, .5) 75%, rgba(14, 14, 14, .2) 85%, transparent 100%); */
  background-image: linear-gradient(to right, rgba(14, 14, 14, 1) 20%, rgba(14, 14, 14, .95) 65%, rgba(14, 14, 14, .85) 75%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 0;
  /* bottom: -100%; */
  transition: all .3s;
  /* backdrop-filter: blur(5px); */
  padding: 1rem 6rem 0rem 3rem;
  /* border-top: 1px solid rgba(255, 255, 255, .05); */
  z-index: 1;
}

/* .project:hover .project__info {
  left: -1%;
} */

.project__type {
  font-size: .8rem;
  /* background-color: var(--red); */
  padding: 1px 4px;
  font-family: var(--secondary-font);
  margin-bottom: 10px;
}

.project__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: .2rem;
}

.project__textInfo {
  margin-bottom: .5rem;
  color: var(--gray);
  line-height: 1.4rem;
}

.project__links {
  display: flex;
  gap: 1rem;
}

.project__link {
  font-size: 1.5rem;
  color: var(--white);
  transition: all .3s;
}

.project__link:hover {
  color: var(--gray);
}

.project__toolsTitle {
  font-family: var(--secondary-font);
  font-size: .8rem;
  margin-bottom: 8px;
  position: relative;
  z-index: 1;
}

/* .project__toolsTitle::before {
  content: '';
  background-color: var(--red);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: .5px;
  left: 1px;
  z-index: -1 !important;
} */

.project__tools {
  margin-bottom: 1rem;
  list-style: none;
}

.tools__tool {
  color: var(--gray);
  font-size: 1rem;
}

.project__element {
  width: 200px;
  position: absolute;
  top: 10%;
  right: 15%;
  /* transform: translate(-50%, -50%); */
  transition: all .3s;
  filter: drop-shadow(20px 30px 15px rgba(0, 0, 0, 0.7));
}

.project:hover .project__element{
  width: 220px;
  /* top: 0; */
  /* right: 5%; */
  filter: drop-shadow(30px 30px 30px rgba(0, 0, 0, 0.5));
}